@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>Flatlined</h1>
<p>
    Sorry choom, the gonk AI messed up. Report it <a href="https://github.com/Magico13-Org/Breacher/issues">here</a> with the screenshot you used, if you don't mind.
</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

