@page
@model IndexModel
@{
    ViewData["Title"] = "Breacher";
}

<div class="text-center">
    <h1 class="display-4">Breach Protocol Solver</h1>
    <form enctype="multipart/form-data" method="post">
        <dl>
            <dt>
                <label>Upload Screenshot</label>
            </dt>
            <dd>
                <input asp-for="FormFile" type="file">
                <span asp-validation-for="FormFile"></span>
            </dd>
        </dl>
        <input asp-page-handler="Upload" class="btn" type="submit" value="Solve" />
    </form>
    @if (Model.BreachData != null)
    {
        <hr />
        <p>
            Target Sequences:<br />
            @Html.Raw(Model.Targets)
        </p>
        <p>Buffer size: @Html.Raw(Model.BreachData.BufferSize)</p>
        <p>Found Sequence: @Html.Raw(Model.Sequence)</p>
        <img src="data:image/jpg;base64, @Model.BreachData.ResultImage" alt="Output Image" />



    }
</div>
